body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: auto; /* Enable scrolling */
  background: black; /* Set this to the color you want when the video doesn't cover the space */
}

.background {
  position: fixed; /* Changed this to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background video,
.background .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background video {
  object-fit: cover;
  z-index: -100; /* Ensure it stays behind other content */
}

.background .gradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 40%
  );
  z-index: -50; /* Ensure it stays above the video but below the content */
}

.background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3em;
  z-index: 1;
}

.section:first-child {
  margin-top: 1000px; /* Adjust this value as needed */
}

.section {
  padding: 20px;
  color: white;
  position: relative; /* Add this to ensure content stays on top of the gradient */
  z-index: 1; /* Add this to ensure the section stays above the video and gradient */
}

.centered-iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%; /* for 16:9 aspect ratio */
}

.centered-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  /* Adjust this breakpoint as needed */
  .centered-iframe {
    max-width: 1080px; /* Or whatever max-width you prefer */
    margin: auto;
  }
}
