body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: auto; /* Enable scrolling */
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.background video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; /* Ensure it stays behind other content */
}

.background::after {
  content: "";
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    /* Gradient direction: top to bottom */ rgba(0, 0, 0, 0) 0%,
    /* Start with completely transparent */ rgba(0, 0, 0, 0.7) 100%
      /* End with 40% opaque black */
  );
}

.background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3em;
  z-index: 1;
}

.section {
  padding: 20px;
  color: white;
}

.centered-iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%; /* for 16:9 aspect ratio */
}

.centered-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  /* Adjust this breakpoint as needed */
  .centered-iframe {
    max-width: 1080px; /* Or whatever max-width you prefer */
    margin: auto;
  }
}
